{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top: 5%;">
        <h2> Card Selections </h2>
        {{ form.cards_selector }}
        <button name="add" onclick="addCard()">Add</button>
        <button name="submit" onclick="submitGet()">Submit</button>
        {% for card_field in form.card_str_fields %}
            {{ card_field }}
        {% endfor %}
        <div id="cardlist">

        </div>
        <div id="benefits">
            {% for benefit in benefits %}
                <p>benefit</p><br/>
            {% endfor %}
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='cards.js') }}" />
    {% endblock %}
{% endblock %}